@import url('https://fonts.googleapis.com/css?family=Orbitron');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("clock-pattern.png");
}

main {
  background: #CCC;
  width: 400px;
  margin: 100px auto;
  height: 175px;
  position: relative;
  padding: 30px;
  border-radius: 5px;
}

.badge {
  width: 100px;
  background: #E66357;
  color: white;
  padding: 5px 10px;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 150px;
}

.clock {
  background-color: #EBEBEB;
  text-align: center;
  font-size: 50px;
  height: 100%;
  padding-top: 25px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 5px;
  box-shadow: inset 0 0 10px grey;
}
